@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300&display=swap');

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: black;
    font-size: 100%;
}


.barraDeNavegacao {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.barraDeNavegacao ul {
    list-style: none;
    align-items: center;
    display: flex;
}

.barraDeNavegacao li {
    padding: 1%;
    margin-right: 20px;
}
.barraDeNavegacao a {
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
    color: white; 
}

.barraDeNavegacao li {
    white-space: nowrap; 
    border-radius: 16px;
    border-bottom:3px solid rgba(255, 152, 67, 1) ;
    transition: background-color 0.3s, transform 0.3s;
}

li:hover{
    background-color: rgba(194, 194, 194, 0.155);
    transform: scale(1.1); 
    
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.texto {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'Montserrat', sans-serif;
}

.titulo{
    font-family: 'Krona One', sans-serif;
}

.tituloParte2{
    color:rgba(255, 152, 67, 1);
}

.codigo1, .codigo2,.tituloParte1{
    color: white;
}

.texto p {
    margin-top: 5%;
    color: white;
    text-align: center;

}

.curriculoBotao {
    display: flex;
    width: 160px;
    height: 40px;
    font-size: 13px;
    padding: 21px;
    text-decoration: none;
    align-items: center; 
    justify-content: center;
    margin-top: 7%;
    border-radius: 16px;
    color: rgba(255, 152, 67, 1);
    border: 3px solid rgba(255, 152, 67, 1);
    transition: transform 0.2s ease-in-out;
    font-family: 'Krona One', sans-serif;
}

.curriculoBotao:hover{
    background-color: rgba(194, 194, 194, 0.155);
    transform: scale(1.1); 
}

.imagemPerfil{
    display: flex;
    width: 100%;
    max-width: 280px;
    transition: transform 0.2s ease-in-out;
}

.imagemPerfil:hover{
    transform: scale(1.05); 
}

.redesSociais{
    width: 100%;
    height: 122px;
    margin-top: 60px;
    font-family: 'Krona One', sans-serif;
}

.redesSociais, p{
    font-size: 20px;
    text-align: center;
}

.mensagem{
    padding-top: 15px;
    padding-bottom: 15px;
}

.destaqueRedes1{
    color: white;
}

.destaqueRedes2, .linguagensQueTiveContato{
   color: rgba(255, 152, 67, 1);
}

.linkLekedIn, .linkGitHub, .instagram{
    display: inline-flex; 
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.linkLekedIn:hover, .linkGitHub:hover, .instagram:hover{
    transform: scale(1.1); 
}

footer{
    display: flex;
    background-color: rgba(255, 152, 67, 1) ;
    margin-top: 50px;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.email, .autor, .direitos{
    color: white;
    display: flex;
    font-size: 14px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 601px) {
    .menu-popup{
        display: none;
    }
    }


@media only screen and (max-width: 600px) {
    
    .barraDeNavegacao {
        display: none;
    }

    .menu{
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        height: 35px;
        background-color: black;
    }

    .menu-popup {
        position: fixed;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: rgba(255, 152, 67, 1);
        padding: 20px;
        box-sizing: border-box;
        border-radius: 16px;
    }
    
    .menu-popup ul {
        list-style: none;
        padding: 0;
    }
    
    .menu-popup li {
        margin: 10px 0;
        border-radius: 16px;
        border-bottom:3px solid rgb(255, 255, 255) ;
    }
    
    .menu-popup a {
        text-decoration: none;
        font-family: 'Krona One', sans-serif;
        color: white;
        font-size: 18px;
    }
    
    .menu-popup.active {
        display: none;
    }
    

    .icone{
        margin-left: 5%;
    }

    .main{
        flex-direction: column;
        margin-top: 10%;
        padding-top: 35px;
    }


    .imagemPerfil, .imgProfile{
        order: -1;
        width: 100%;
        max-width: 152px;
        margin-bottom: 20px;
    }

    .texto{
        order: 3;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .titulo{
        font-size: 80%;
    }

    p{
        font-size: 80%;
    }

    .curriculoBotao{
        display: flex;
        width: 100%;
        max-width: 100px;
        font-size: 10px;
        text-align: center;
    }

    .curriculoBotao:hover, .curriculoBotao:active{
        background-color: rgba(194, 194, 194, 0.155);
    }

    .curriculoBotao:active {
        transition: transform 0.2s ease-in-out; 
        transform: scale(1);
    }

    .redesSociais{
        width: 100%;
        font-size: 90%;
    }

    .linkedinImg, .githubImg, .instagramImg{
        width: 100%;
        max-width: 42px;
    }

    footer{
        width: 100%;
    }

    .email,.autor,.direitos{
        font-size: 8px;
    }

    

}