@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300&display=swap');

*, 
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --cor-primaria: black;
    --cor-secundaria: rgba(255, 152, 67, 1);
    --cor-terciaria: white;

}

body {
    position: relative; /* Tornar o corpo relativo para que o pseudo-elemento seja posicionado corretamente */
    background-color: var(--cor-primaria);
    font-size: 100%;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/vecteezy_white-and-black-paper-grid-background_10742856.svg);
    background-size: cover;
    opacity: 0.2; 
    background-attachment: fixed;
}


.barraDeNavegacao {
    background-color: var(--cor-primaria);
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.barraDeNavegacao ul {
    list-style: none;
    align-items: center;
    display: flex;
}

.barraDeNavegacao li {
    padding: 1%;
    margin-right: 20px;
}
.barraDeNavegacao a {
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
    color: var(--cor-terciaria);
    font-size: 0.8rem;
}

.barraDeNavegacao li {
    white-space: nowrap; 
    border-radius: 16px;
    border-bottom:3px solid var(--cor-secundaria) ;
    transition: background-color 0.3s, transform 0.3s;
}

li:hover{
    background-color: rgba(194, 194, 194, 0.155);
    transform: scale(1.1); 
    
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    padding: 0 2rem;
    gap: 5rem;
}

.texto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'Montserrat', sans-serif;
    margin-left: 4rem;
}

.titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
}

.tituloParte2{
    color:var(--cor-secundaria);
}

.codigo1, .codigo2,.tituloParte1{
    color: var(--cor-terciaria);
}

.texto p {
    margin-top: 5%;
    color: var(--cor-terciaria);
    text-align: center;
    line-height: 2.5rem;
}

.curriculoBotao {
    display: flex;
    width: 10rem;
    height: 2.5rem;
    font-size: 0.81rem;
    padding: 1.31rem;
    text-decoration: none;
    align-items: center; 
    justify-content: center;
    margin-top: 7%;
    border-radius: 16px;
    color: var(--cor-secundaria);
    border: 3px solid var(--cor-secundaria);
    transition: transform 0.2s ease-in-out;
    font-family: 'Krona One', sans-serif;
}

.curriculoBotao:hover{
    background-color: rgba(194, 194, 194, 0.155);
    transform: scale(1.1); 
}

.imagemPerfil{
    width: 50%;
    max-width: 18.75rem;
    height: auto;
    transition: transform 0.2s ease-in-out;
    margin-left: 4rem;
    margin-right: 4rem;
}

.imagemPerfil:hover{
    transform: scale(1.05); 
}

.redesSociais{
    width: 100%;
    height: 7.65rem;
    margin-top: 3.75rem;
    font-family: 'Krona One', sans-serif;
}

.redesSociais, p{
    font-size: 1rem;
    text-align: center;
}

.mensagem{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.destaqueRedes1{
    color: var(--cor-terciaria);
}

.destaqueRedes2, .linguagensQueTiveContato{
   color: var(--cor-secundaria);
}

.linkLekedIn, .linkGitHub, .instagram{
    display: inline-flex; 
    margin-left: 0.625rem;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.linkedinImg, .instagramImg, .githubImg{
    width: 3rem;
}

.linkLekedIn:hover, .linkGitHub:hover, .instagram:hover{
    transform: scale(1.1); 
}

footer{
    display: flex;
    background-color: var(--cor-secundaria) ;
    margin-top: 3.125rem;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.email, .autor, .direitos{
    color: var(--cor-terciaria);
    display: flex;
    font-size: 0.875rem;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.textotitulo{
    margin-top: 5rem;
    color: var(--cor-terciaria);
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
}

.tituloDaPagina, .titulosProjetos{
    color: var(--cor-secundaria);
}

.mainProjects{
    margin-top: 3rem;
}

.projectOne, .projectTwo, .projectThree {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 2rem;
    align-items: center;
    gap: 3rem;
}

.classeDeTextos, .classeDeTextosDois, .classeDeTextosTres {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetoAlura, .projetoRocketseat, .projetoJogoNumeroSecreto {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.alura, .rocketseat, .jogonumerosecreto {
    font-size: 1.2rem;
    color: var(--cor-terciaria);
    font-family: 'Krona One', sans-serif;
    margin-bottom: 2rem;
}

.textAluraMain, .textRocketSeat, .textJogoDoNumero {
    color: var(--cor-terciaria);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0 8rem 0 8rem;
}


.botaoAcessar {
    display: flex;
    width: 8rem;
    height: 2rem;
    font-size: 0.81rem;
    padding: 1.31rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 16px;
    color: var(--cor-secundaria);
    border: 3px solid var(--cor-secundaria);
    transition: transform 0.2s ease-in-out;
    font-family: 'Krona One', sans-serif;
}

.botaoAcessar:hover {
    background-color: rgba(194, 194, 194, 0.155);
    transform: scale(1.1);
}
@media only screen and (min-width: 875px) {

    body{
        font-size: 1.5rem;
    }


    .menu-popup{
        display: none;
    }
    }


@media only screen and (max-width: 875px) {
    
    .barraDeNavegacao {
        display: none;
    }

    .menu{
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        height: 2.19rem;
        background-color: var(--cor-primaria);
    }

    .menu-popup {
        position: fixed;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: var(--cor-secundaria) ;
        padding: 1.25rem;
        box-sizing: border-box;
        border-radius: 16px;
        margin-top: 1.25rem;
        z-index: 2;
    }
    
    .menu-popup ul {
        list-style: none;
        padding: 0;
    }
    
    .menu-popup li {
        margin: 10px 0;
        border-radius: 16px;
        height: 2rem;
        border-bottom:3px solid var(--cor-terciaria) ;
        padding: 0 0rem;
    }
    
    .menu-popup a {
        text-decoration: none;
        font-family: 'Krona One', sans-serif;
        color: var(--cor-terciaria);
        font-size: 1rem;
        display: flex;
        justify-content: center;
        border-radius: 16px;
    }
    
    .menu-popup.active {
        display: none;
    }
    

    .icone{
        margin-left: 8%;
    }

    .main{
        flex-direction: column;
        margin-top: 5%;
        padding-top: 2.19rem;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 2rem;
    }


    .imagemPerfil, .imgProfile{
        order: -1;
        width: 100%;
        max-width: 13rem;
        z-index: 1;
    }

    .texto{
        order: 3;
        width: 100%;
        margin: 0 auto;
        padding: 0 0.625rem;
    }

    .titulo{
        font-size: 1rem;
    }

    p{
        font-size: 0.9rem;
    }

    .curriculoBotao{
        display: flex;
        width: 100%;
        max-width: 6.25rem;
        font-size: 0.625rem;
        text-align: center;
    }

    .curriculoBotao:hover, .curriculoBotao:active{
        background-color: rgba(194, 194, 194, 0.155);
    }

    .curriculoBotao:active {
        transition: transform 0.2s ease-in-out; 
        transform: scale(1);
    }

    .redesSociais{
        width: 100%;
        font-size: 0.9rem;
    }

    .linkedinImg, .githubImg, .instagramImg{
        width: 100%;
        max-width: 2.625rem;
    }

    footer{
        width: 100%;
    }

    .email,.autor,.direitos{
        font-size: 0.5rem;
    }

    .textAluraMain, .textRocketSeat, .textJogoDoNumero {
        padding: 0 0 0 0;
    }



    .textotitulo {
        margin-top: 3rem;
        font-size: 1rem;
    }
    
    .mainProjects {
        display: flex;
        flex-direction: column;
    }
    
    .classeDeTextos {
        display: flex;
    }
    
    .alura, .rocketseat, .jogonumerosecreto {
        font-size: 1rem;
        order: 1;
    }
    
    .projetoAlura, .projetoRocketseat, .projetoJogoNumeroSecreto {
        width: 250px;
        height: auto;
        border-radius: 10px;
        margin-bottom: 2rem;
        order: 2;
    }
    
    .textAluraMain, .textRocketSeat, .textJogoDoNumero {
        order: 3;
        margin-left: 1rem; 
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .botaoAcessar{
        order: 4;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    

   




}